[submodule "Eucledia/vendor/sdplog"]
	path = Eucledia/vendor/sdplog
	url = https://github.com/gabime/spdlog
[submodule "Eucledia/vendor/GLFW"]
	path = Eucledia/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
