[submodule "Eucledia/vendor/sdplog"]
	path = Eucledia/vendor/sdplog
	url = https://github.com/gabime/spdlog
[submodule "Eucledia/vendor/imgui"]
	path = Eucledia/vendor/imgui
	url = https://github.com/nait-sab/imgui
[submodule "Eucledia/Vendor/GLFW"]
	path = Eucledia/Vendor/GLFW
	url = https://github.com/nait-sab/glfw
[submodule "Eucledia/vendor/glm"]
	path = Eucledia/vendor/glm
	url = https://github.com/nait-sab/glm
[submodule "Eucledia/vendor/GLFW"]
	path = Eucledia/vendor/GLFW
	url = https://github.com/nait-sab/glfw
