[submodule "Eucledia/vendor/sdplog"]
	path = Eucledia/vendor/sdplog
	url = ../../gabime/spdlog.git
[submodule "Eucledia/vendor/imgui"]
	path = Eucledia/vendor/imgui
	url = ../..nait-sab/imgui.git
[submodule "Eucledia/Vendor/GLFW"]
	path = Eucledia/Vendor/GLFW
	url = ../..nait-sab/glfw.git
[submodule "Eucledia/vendor/glm"]
	path = Eucledia/vendor/glm
	url = ../..nait-sab/glm.git
[submodule "Eucledia/vendor/GLFW"]
	path = Eucledia/vendor/GLFW
	url = ../..nait-sab/glfw.git
